.navbar {
	background-color:#fff;
	overflow:hidden;
	position:fixed;
	width:100%;
	height:10%;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	border-top:2px solid rgb(210,216,222);
	box-shadow:10px 10px 2px #888888;
}
.top-bar {
	border:2px solid lightgray;
	border-radius:0 0 25px 25px;
	width:99%;
	height:13%;
	position:absolute;
	background-color:white;
	left: 0px;
	right: 0px;
	z-index:-99;
}
.tab-bar {
	line-height:44px;
	text-align:center;
	font-size:4em;
	margin-bottom:4px;
	font-weight:700;
	font-family:"Microsoft YaHei UI";
	left: 0px;
	right: 0px;
	/* border-bottom:0.5px solid whitesmoke;
	*/
display:flex;
	align-items:center;
	background-color:#fff;
	overflow:hidden;
	position:fixed;
	width:100%;
	height:10%;
	justify-content:space-evenly;
	border-left:2px solid lightgray;
}
body::before {
	content:"";
	position:absolute;
	width:980px;
	height:100%;
	left:0;
	top:0;
	background:url(../../images/background.jpg);
	filter:blur(10px);
	background-size:body;
	z-index:-9999;
}
.el-icon-circle-plus {
	font-size:45px;
	text-align:center;
}
.el-icon-house {
	transform:translateX(5%);
	font-size:30px;
}
html,body {
	height:100%;
	font-size:100%;
}
.main {
	height:94%;
}
.read,.chat {
	height:90%;
}
.overflow::-webkit-scrollbar {
	display:none}
.subitem {
	cursor:pointer;
}
.main-item {
	transform:translateX(-34px);
	cursor:pointer;
}
.lastitem {
	margin-bottom:64px;
}
.mine-view {
	font-family:"Microsoft YaHei";
	height:90%;
}
.tab-bar {
	line-height:44px;
	text-align:center;
	font-size:4em;
	margin-bottom:4px;
	font-weight:700;
	font-family:"Microsoft YaHei UI";
	border-bottom:0.5px solid whitesmoke;
	display:flex;
	align-items:center;
	background-color:#fff;
	overflow:hidden;
	position:fixed;
	width:100%;
	height:10%;
	left: 0px;
	right: 0px;
	justify-content:space-evenly;
}
.item {
	cursor:pointer;
	font-size:4em;
	text-align:center;
}
.item_img img {
	/* top:8%;
	bottom:2%;
	*/
height:70%;
	width:70%;
	position:relative;
	/* left:50%;
	right:50%;
	*/
/* transform:translate(-50%);
	*/
vertical-align:middle;
	/* transform:rotate(45deg);
	*/
}
.user-info {
	padding-left:5px;
	padding-right:5px;
	color:black;
	cursor:pointer;
	display:flex;
	justify-content:left;
	vertical-align:center;
	background-color:antiquewhite;
	top:10%;
	position:absolute;
	/*稍后需要调整一下渐变*/
 height:10%;
 width:99%;
	align-items:center;
	font-size:3em;
}
.photo {
	width:150px;
	height:150px;
}
.arrow {
	font-size:2.5em;
	margin-left:auto;
}
.artical-admin {
	display:flex;
	height:100px;
	color:gray;
	background-color:white;
	border-bottom:8px solid whitesmoke;
	justify-content:space-around;
	align-items:center;
	position:absolute;
	top:20%;
	height:10%;
	width:100%;
}
input[class="btn"] {
	width:35%;
	position:absolute;
	bottom:15%;
	left:32.5%;
	right:32.5%;
    font-size:4em;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	padding:15px 30px;
	border:2px solid black;
	border-radius:20px;
	background-color:transparent;
}
.temp {
	padding-left:5px;
	padding-right:5px;
	border-bottom:0.5px solid whitesmoke;
	box-shadow:2px 2px 10px #06c;
	height:10%;
	display:flex;
	justify-content:left;
	align-items:center;
}
.el-form {
	position:absolute;
	top:40%;
	left:-10%;
}
.xjxh img {
	width:64%;
	position:absolute;
	top:20%;
	left:50%;
	transform:translate(-50%,-50%);
}
.post-back {
	height:90%;
	position:absolute;
}
input[id="title"] {
	outline-style:none;
	border:1px solid #ccc;
	border-radius:3px;
	padding:14px 14px;
	width:85%;
	font-size:3em;
	margin-top:10%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:5%;
	border-radius:20px;
}
textarea {
	outline-style:none;
	border:1px solid #ccc;
	border-radius:20px;
	padding:14px 14px 60%;
	width:85%;
	font-size:3em;
	margin-left:5%;
	margin-right:5%;
}
input[class="post-btn"] {
	background-color:gray;
	color:white;
	font-size:4em;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	width:80%;
	padding:15px 30px;
	margin:10% 10% 5%;
	border-radius:20px;
}
ul[id="re_li"] {
	position:relative;
	overflow:scroll;
}
ul[id="ch_li"] {
	position:relative;
	top:10%;
	bottom:5%;
	width:100%;
	overflow:scroll;
}
li[class="topic"] {
	position:relative;
	width:100%;
	height:15%;
	font-size:3.5em;
	list-style:none;
}
li[class="content"] {
	position:relative;
	width:100%;
	height:10%;
	font-size:3em;
	list-style:none;
}
.msg {
	padding-left:5px;
	padding-right:5px;
	color:white;
	cursor:pointer;
	display:flex;
	justify-content:left;
	vertical-align:center;
	background-color:cadetblue;
	top:10%;
	height:10%;
	align-items:center;
	font-size:3em;
}
.time {
	font-size:0.5em;
	position:absolute;
	top:30%;
	right:20%;
}
.lastmsg {
	font-size:0.8em;
}
.redpoint {
	position:absolute;
	top:1px;
	right:50px;
}
.post_title {
	padding-top:20px;
	height:70px;
	width:90%;
	font:monospace;
	font-size:2.5em;
	text-indent:1em;
	font-weight:bold;
	color:rgb(0,0,0);
	/*background-color:rgb(221,213,213);
	*/
}
.post_some_context {
	height:300px;
	text-indent:2em;
	font:"黑体";
	width:90%;
	height:auto;
	font-size:2em;
	margin:0% 5% 0%;
	word-break:break-all;
	/*background-color:rgb(221,213,213);
	*/
}
.post_info {
	height:75px;
	width:95%;
	font:monospace;
	font-size:1.5em;
	margin:20px;
	border-top:3px solid transparent;
	text-indent:1em;
	/*background-color:rgb(221,213,213);
	*/
}
.post {
	border-radius:3px 30px 0px 30px;
	box-shadow:10px 0px 10px dimgrey,0px 10px 10px dimgrey;
	width:95%;
	background-color:rgb(245,245,245);
	margin-bottom:4%;
	margin-right:40px;
}
.homeLike {
	height:50px;
	margin-left:10px;
}
.homeComment {
	height:50px;
}
.homeStore {
	height:50px;
	margin-left:10px;
}
.add {
	border:1px solid;
	width:60px;
	height:60px;
	color:#ccc;
	transition:color .25s;
	position:relative;
}
.add::before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:48px;
	margin-left:-24px;
	margin-top:-3px;
	border-top:6px solid;
}
.add::after {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	height:48px;
	margin-left:-3px;
	margin-top:-24px;
	border-left:6px solid;
}
.add:hover {
	color:blue;
}
.singlechat {
	position:relative;
	height:10%;
	width:95%;
	display:flex;
	margin-right:40px;
	margin-top:4%;
	margin-bottom:4%;
}
.chatimg {
	position:relative;
	height:100%;
	width:10vh;
}
.chatimg img {
	width:100%;
	height:100%;
	border-radius:50%;
}
.chatpart1 {
	position:relative;
	width:75%;
	font-size:3em;
	margin-left:2%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.chatpart2 {
	position:relative;
	right:0%;
	width:15%;
	font-size:3em;
}
.chatname {
	margin-bottom:2.5%;
	font-size:1.3em;
	position:absolute;
}
.chatctt {
	margin-top:2.5%;
	bottom:0%;
	position:absolute;
}
.chattime {
	margin-top:20%;
	font-size:0.8em;
	bottom:0;
	font-weight:200;
}
.chatnum {
	margin-top:28%;
	bottom:0;
	margin-left:35%;
	font-size:0.75em;
	margin-right:35%;
	text-align:center;
	background:aqua;
}
#search {
	font-size:3em;
	height:4%;
	width:88%;
	position:fixed;
	padding-left:1.4em;
	border:1px solid rgba(114,114,114,0.322);
	border-radius:40px;
	background-size:1.4em;
	background-repeat:no-repeat;
	background-position:3px 8px;
	top:9%;
	left:6%;
}
#search {
	background-image:url(../../images/search.png);
}
.num {
	font-size:40px;
	height:50px;
	margin:0 auto;
	/* margin-right:15px;
	*/
text-align:center;
}
.postarea {
	background-color:white;
	border-radius:30px;
	position:absolute;
	margin-left:2.5%;
	margin-right:2.5%;
	width:95%;
	top:90%;
	height:70%;
	transition:top 1s;
	opacity:0.75;
}
