.loginview {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: #eeeeee; */
    /* background: url(../../images/backgroud.jpg);
    filter: blur(20px); */
    z-index: -9999;
}

.loginview::before {
    content: "";
    position: absolute;
    width: 980px;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../../images/background.jpg);
    filter: blur(10px);
    background-size: loginview;
}

.xjxh img{
    width: 30%;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h3 {
    color: powderblue;
    font-size: 6em;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
}

.hidden {
    display: none;
}

.form1{
    top: 40%;
    left: 10%;
    width: 75%;
    text-align: center;
    position: absolute;
    color: #3e3e3e;
}
.form1 table{
    width: 100%;
    border-collapse:separate;
    border-spacing:0px 5em;
}
.form1 td{
    font-size: 2.5em;
}
.form1 td:first-child{
    width: 30%;
    vertical-align: middle;
    text-align:right;
    padding-right: 1em;
}
#username,#password,#re_password,#nickname{
    font-size: 1em;
    height: 3em;
    width: 100%;
    position: relative;
    padding-left: 2.1em;
    border: 3px solid rgba(102, 101, 101, 0.79);
    border-radius: 60px;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: 15px 30px;
}
#username{
    background-image: url(../../images/user.png);

}
#password{
    background-image: url(../../images/password.png);
}
#re_password{
    background-image: url(../../images/re_pwd.png);
}
#nickname{
    background-image: url(../../images/name.png);
}


#log{
    width: 100%;
    top: 65%;
    text-align: center;
    position: fixed;
}
#reg{
    width: 100%;
    top: 85%;
    /* left: 10%; */
    position: fixed;
    text-align: center;
    display:none;
}
#log input,#reg input{
    text-align: center;
    font-size:48px;
    height: 2em;
    color:#3e3e3e;
    position: relative;
    width: 80%;
    border: 3px solid rgba(187, 189, 189, 0.79);
    border-radius: 10px;
    background-color: rgb(158, 223, 248);
}


.reg {
    position: absolute;
    bottom: 5%;
    width: 100%;
    font-size: 2.5em;
    text-align: center;
}

::-webkit-input-placeholder {
    color: #777777;
}

.back {
    position: relative;
    font-size: 7em;
    padding-left: 3%;
    display: none;
}